[submodule "zlib"]
	path = zlib
	url = https://github.com/cloudflare/zlib.git
	branch = gcc.amd64
[submodule "brotli"]
	path = brotli
	url = https://github.com/google/brotli.git
	branch = master
[submodule "zstd"]
	path = zstd
	url = https://github.com/facebook/zstd.git
